<form [formGroup]="userForm" (ngSubmit)="signIn()">
    <h3 class="text-center" style="font-weight:400">Авторизация</h3>
    <div class="form-group">
        <input [ngClass]="{'border-danger':(submitted && f.Email.errors)}" formControlName="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваш email">
        <small  class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.required">Введите email</small>
        <small id="emailHelp1" class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.email">Некорректный email</small>
    </div>
    <div class="form-group">
        <input [ngClass]="{'border-danger':(submitted && f.Password.errors)}" formControlName="Password" type="password" class="form-control" placeholder="Пароль">
        <small  class="form-text text-danger" *ngIf="submitted && f.Password.errors && f.Password.errors.required">Введите пароль</small>
    </div>
    <div class="form-group form-check">
      <input [(ngModel)]="save" [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
    </div>
    <div class="alert alert-danger" *ngIf="showMessage">
        Введены неверные данные для входа
    </div>
    <button type="submit" class="btn btn-primary" (click)="signIn()">Войти</button>
    <button class="btn btn-link" routerLink="/sign/up">Регистрация</button>
  </form>
  