<div class="container">
  <h2>Рейсы</h2>
  <div class="filters flex-container" >
    <div class="filter form-group">
      <h4>Дата начала</h4>
      <input class="form-control" [(ngModel)]="filters.DateStart" type="date" (change)="getFishings()">
    </div>
    <div class="filter form-group">
      <h4>Дата конца</h4>
      <input class="form-control" [(ngModel)]="filters.DateFinish" type="date" min="{{filters.DateStart}}" (change)="getFishings()">
    </div>
  </div>
  <div class="fishings">
    <div class="fishing" *ngFor="let f of fishings">
      <span class="round"></span>
      <div class="main">
        <div class="item">
          <h4>Судно</h4>
          <small>{{f.Boat.Name}} ({{f.Boat.Type}})</small><br>
          <small *ngIf="f.Catch">Улов: {{fs.round(f.Catch)}} т.</small>
        </div>
        <div class="item">
          <h4>Дата начала</h4>
          <small>{{f.DateStart | date:"dd.MM.yyyy"}}</small>
        </div>
        <div class="item">
          <h4>Дата конца</h4>
          <small>{{f.DateFinish | date:"dd.MM.yyyy"}}</small>
        </div>
        
      </div>
      <p class="line" ><span (click)="show(f)">Подробнее <i class="fa" [ngClass] = "{'fa-angle-down':!f.Show, ' fa-angle-up':f.Show}"></i></span></p>
      
      <div *ngIf="f.Show">
        <h4>Банки</h4>
        <div class="banks flex-container">
          <div class="bank" *ngFor="let b of f.Banks">
            <img src="../../assets/images/bank.png">
            <h4>{{b.Name}}</h4>
            <small>{{b.Quality}}</small>
            <div class="bank-catch">
              <span *ngFor="let c of b.Catches">{{c.FishType}} - {{c.Weight}}</span>
            </div>
          </div>
          <div *ngIf="us.user && us.user.IsAdmin" class="new-bank">
            <i class="fas fa-plus" aria-hidden="true" [ngClass]="{'invalid-add':fs.banks.length==0}" (click)="fs.banks.length==0?'':ms.open('add-fishing-bank',f)"></i>
          </div>
        </div>
        <!-- <h4>Улов</h4>
        <div class="catches flex-container">
          <div class="catch"  *ngFor="let c of getCatch(f.Banks); let i = index">
          
            <div class="form-group">
              <label>Тип рыбы</label>
              <span class="form-control">{{c.FishType}}</span>
            </div>
            <div class="form-group">
              <label>Вес улова</label>
              <span class="form-control">{{c.Weight}}</span>
            </div>
          </div>
        </div> -->
        
        <h4>Команда</h4>
        <div *ngIf="f.Sailors.length>0" class="flex-container">
          
          <div class="sailor"  *ngFor="let c of f.Sailors">
            <h4>{{c.Surname}} {{c.Name}}</h4>
            <small>{{c.Position}}</small>
            <p>{{c.Address}}</p>
          </div>
        </div>
      </div>
      
      
    </div>
    <div *ngIf="us.user && us.user.IsAdmin" class="new-fishing">
      <button class="btn btn-success" (click)="ms.open('add-fishing',fishings)" [disabled]="fs.boats.length == 0">Добавить рейс</button>
      
    </div>
  </div>
</div>
