<div class="container">
  <h2>Банки</h2>
  <div class="banks flex-container">
    <div class="bank" *ngFor="let b of fs.banks">
      <img src="../../assets/images/bank.png">
      <h4>{{b.Name}}</h4>
      <small>{{b.Quality}}</small>
    </div>
    <div class="new-bank">
      <i class="fas fa-plus" aria-hidden="true"  (click)="ms.open('add-bank', fs.banks)"></i>
    </div>
  </div>
  <h2>Средний улов по банкам</h2>
  <div class="filters flex-container" *ngIf="fs.banks.length>0">
    <div class="filter form-group">
      <h4>Дата начала</h4>
      <input class="form-control" [ngModel]="filters.DateStart" type="date">
    </div>
    <div class="filter form-group">
      <h4>Дата конца</h4>
      <input class="form-control" [ngModel]="filters.DateFinish" type="date">
    </div>
  </div>
  
  <bank-boats></bank-boats>

</div>
