<div class="container">
  <h2>Банки</h2>
  <div *ngIf="fs.banks" class="banks flex-container">
    <div class="bank" *ngFor="let b of fs.banks">
      <img src="../../assets/images/bank.png">
      <h4>{{b.Name}}</h4>
      <small>{{b.Quality}}</small>
    </div>
    <div *ngIf="us.user && us.user.IsAdmin" class="new-bank">
      <i class="fas fa-plus" aria-hidden="true"  (click)="ms.open('add-bank', fs.banks)"></i>
    </div>
  </div>
  <h2>Средний улов по банкам</h2>
  
  
  <bank-boats></bank-boats>

</div>
