<div class="container">
  
  <div [routerLinkActive]='["active"]' [routerLink]='["/"]' [routerLinkActiveOptions]='{ exact: true }' class="item">
    <h3>Катера</h3>
  </div>
  <div [routerLinkActive]='["active"]' [routerLink]='["/fishings"]' class="item">
    <h3>Рейсы</h3>
  </div>
  <div [routerLinkActive]='["active"]' [routerLink]='["/banks"]' class="item">
    <h3>Банки</h3>
  </div>
  <div [routerLinkActive]='["active"]' [routerLink]='["/catch"]' class="item">
    <h3>Улов</h3>
  </div>
</div>
