<ng-template class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>

  <div class="p-3">
    <add-boat *ngIf="ms.type == 'add-boat'" [boats]="ms.attr"></add-boat>
    <add-bank *ngIf="ms.type == 'add-bank'" [banks]="ms.attr"></add-bank>
    <update-boat *ngIf="ms.type == 'update-boat'" [boat]="ms.attr"></update-boat>
    <add-fishing *ngIf="ms.type == 'add-fishing'" [fishings]="ms.attr"></add-fishing>
    <add-fishing-bank *ngIf="ms.type == 'add-fishing-bank'" [fishing]="ms.attr"></add-fishing-bank>
  </div>
  
  

</ng-template>
