
<form [formGroup]="fishingForm" (ngSubmit)="add()">
    <h3 class="text-center" style="font-weight:400" >Добавление рейса</h3>
    <div class="form-group">
        <label for="exampleInputBoat1" [ngClass]="{'text-danger':(submitted && f.Boat.errors)}">Тип судна</label>
        <select [ngClass]="{'border-danger':(submitted && f.Boat.errors)}" class="form-control" formControlName="Boat" >
          <option value="{{b}}" *ngFor="let b of fs.boats">{{b.Name}}</option>
        </select>
        <small  class="form-text text-danger" *ngIf="submitted && f.Boat.errors && f.Boat.errors.required">Укажите судно</small>
    </div>
    <div class="form-group">
        <label [ngClass]="{'text-danger':(submitted && f.DateStart.errors)}" for="D">Дата начала</label>
        <input [ngClass]="{'border-danger':(submitted && f.DateStart.errors)}" formControlName="DateStart" type="date" class="form-control" id="D" >
        <small  class="form-text text-danger" *ngIf="submitted && f.DateStart.errors && f.DateStart.errors.required">Введите дату начала рейса</small>
    </div>
    <div class="form-group">
        <label [ngClass]="{'text-danger':(submitted && f.DateFinish.errors)}" for="D1">Дата конца</label>
        <input [ngClass]="{'border-danger':(submitted && f.DateFinish.errors)}" formControlName="DateFinish" type="date" class="form-control" id="D1">
        <small  class="form-text text-danger" *ngIf="submitted && f.DateFinish.errors && f.DateFinish.errors.required">Введите дату окончания рейса</small>
    </div>
    <button type="submit" class="btn btn-primary" >Добавить</button>
  </form>
  