
<div class="container">
  <h2>Катера</h2>
  <div *ngIf="fs.boats" class="flex-container">
    <div class="ship" *ngFor="let b of fs.boats">
      <h3>{{b.Name}}</h3>
      <small>{{b.Type}}</small>
      <p>Водоизмещение: {{b.Displacement}} т.</p>
      <p>Дата постройки: {{b.BuildDate | date:"dd.MM.yyyy"}}</p>
      <div class="btn btn-link" (click)="ms.open('update-boat', b)">Редактировать</div>
    </div>
    <div class="new-ship">
      <div class="btn btn-success" (click)="ms.open('add-boat', fs.boats)" >Добавить</div>
    </div>
  </div>
  <h2>Рейсы катеров</h2>
  <div class="filters flex-container" >
    <div class="filter form-group">
      <h4>Тип судна</h4>
      <select class="form-control" [(ngModel)]="filters.Type" (change)="getBoats()">
        <option value="{{t}}" *ngFor="let t of types">{{t}}</option>
      </select>
    </div>
    <div class="filter form-group">
      <h4>Дата начала</h4>
      <input class="form-control" [(ngModel)]="filters.DateStart" type="date" (change)="getBoats()">
    </div>
    <div class="filter form-group">
      <h4>Дата конца</h4>
      <input class="form-control" [(ngModel)]="filters.DateFinish" type="date" (change)="getBoats()">
    </div>
  </div>
  <div>
    <div class="boat" *ngFor="let b of boats">
      <div class="info">
        <h4>{{b.Name}}</h4>
        <small>{{b.Type}}</small>
      </div>
      <table class="fishing-table">
        <thead class="fishing">
          <td class="cell">Дата начала</td>
          <td class="cell">Дата конца</td>
          <td class="cell">Улов</td>
        </thead>
        <tr class="fishing" *ngFor="let f of b.Fishings">
          <td class="cell">{{f.DateStart | date:"dd.MM.yyyy"}}</td>
          <td class="cell">{{f.DateFinish | date:"dd.MM.yyyy"}}</td>
          <td class="cell">{{f.Catch}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>